<h4><%= l(:label_company_analytics) %></h4>
<p><strong><%= l(:label_linked_contacts_count) %>:</strong> <%= linked_contacts_count %></p>
<p><strong><%= l(:label_turnover_count) %>:</strong> <%= turnover_count %></p>