<h4><%= l(:label_person_analytics) %></h4>
<p><strong><%= l(:label_tasks_count) %>:</strong> <%= tasks_count %></p>
<p><strong><%= l(:label_groups_count) %>:</strong> <%= groups_count %></p>
<p><strong><%= l(:label_companies_count) %>:</strong> <%= companies_count %></p>