<tr id="<%= dom_id(contact) %>" class="<%= cycle('odd', 'even') %>">
  <td class="name"><%= link_to contact.name, contact_path(contact), data: { turbo_frame: '_top' } %></td>
  <td><%= l("label_#{contact.contact_type}") %></td>
  <td><span class="status <%= contact.status %>"><%= l("label_#{contact.status}") %></span></td>
  <td><%= contact.project ? link_to_project(contact.project) : '---' %></td>
  <td><%= format_date(contact.created_at) %></td>
  <td class="buttons">
    <%= link_to 'ðŸ“Š', analytics_contact_path(contact), data: { turbo_frame: 'modal' }, title: l(:button_analysis) %>
    <%= link_to 'âœï¸', edit_contact_path(contact), data: { turbo_frame: 'modal' }, class: 'contact-edit', title: l(:button_edit) %>
    <%= delete_link contact_path(contact) if User.current.allowed_to?(:manage_contacts, @project, global: true) %>

  </td>
</tr>