<%# app/views/contacts/edit.html.erb %>
<%= turbo_frame_tag "modal", data: { modal_history_action_value: "replace" } do %>
  <div class="modal-header">
    <h3 class="title"><%= l(:label_edit_contact) %></h3>
    <%= link_to "&#10006;".html_safe, close_modal_contacts_path, class: "close", data: { turbo_method: :post } %>
  </div>

  <%= form_for @contact, url: contact_path(@contact), method: :patch, html: { data: { controller: "form", action: "turbo:submit-start->form#disable turbo:submit-end->form#enable" } } do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
    
    <div class="buttons">
      <%= f.submit l(:button_save), data: { "form-target": "submit" } %>
      <%= link_to l(:button_cancel), close_modal_contacts_path, class: "button", data: { turbo_method: :post } %>
    </div>
  <% end %>
<% end %>