<%# app/views/contacts/show_edit.html.erb %>
<%= turbo_frame_tag "modal" do %>
  <div class="modal-header">
    <h3 class="title"><%= l(:label_edit_contact) %></h3>
    <%= link_to "&#10006;".html_safe, contact_path(@contact), class: "close", data: { turbo_frame: "_top" } %>
  </div>

  <%= form_for @contact, url: contact_path(@contact), method: :patch, html: { data: { controller: "form", action: "turbo:submit-start->form#disable turbo:submit-end->form#enable" } } do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
    
    <div class="buttons">
      <%= f.submit l(:button_save), data: { "form-target": "submit" } %>
      <%= link_to l(:button_cancel), contact_path(@contact), class: "button", data: { turbo_frame: "_top" } %>
    </div>
  <% end %>
<% end %>