<%# app/views/contacts/show.html.erb %>
<% html_title(@contact.name) %>

<div class="contextual">
  <%= link_to l(:button_edit), edit_contact_path(@contact),
              class: 'icon icon-edit' if User.current.allowed_to?(:manage_contacts, @contact.project) %>
  <%= link_to l(:button_delete), contact_path(@contact),
              method: :delete,
              class: 'icon icon-del',
              data: { confirm: l(:text_are_you_sure) } if User.current.allowed_to?(:manage_contacts, @contact.project) %>
</div>

<h2><%= @contact.name %></h2>

<div class="contact-details <%= @contact.contact_type %>">
  <div class="splitcontentleft">
    <div class="box">
      <h3><%= l(:label_details) %></h3>
      <table class="attributes">
        <tr>
          <th><%= l(:field_type) %>:</th>
          <td><%= l("label_#{@contact.contact_type}") %></td>
        </tr>
        <tr>
          <th><%= l(:field_status) %>:</th>
          <td><%= l("label_#{@contact.status}") %></td>
        </tr>
        <% if @contact.email.present? %>
          <tr>
            <th><%= l(:field_email) %>:</th>
            <td><%= mail_to @contact.email %></td>
          </tr>
        <% end %>
        <% if @contact.phone.present? %>
          <tr>
            <th><%= l(:field_phone) %>:</th>
            <td><%= @contact.phone %></td>
          </tr>
        <% end %>
        <% if @contact.address.present? %>
          <tr>
            <th><%= l(:field_address) %>:</th>
            <td><%= simple_format @contact.address %></td>
          </tr>
        <% end %>
        <% if @contact.description.present? %>
          <tr>
            <th><%= l(:field_description) %>:</th>
            <td><%= textilizable @contact.description %></td>
          </tr>
        <% end %>
      </table>
    </div>
    
    <% if @contact.person? && @roles.any? %>
      <div class="box">
        <h3><%= l(:label_companies) %></h3>
        <table class="list contact-roles">
          <thead>
            <tr>
              <th><%= l(:label_company) %></th>
              <th><%= l(:field_position) %></th>
              <th><%= l(:field_status) %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @roles.each do |role| %>
              <tr class="<%= role.status_name %>">
                <td><%= link_to role.company.name, contact_path(role.company) %></td>
                <td><%= role.position %></td>
                <td><%= l("label_#{role.status_name}") %></td>
                <td class="buttons">
                  <%= link_to l(:button_delete), contact_role_path(role),
                            method: :delete,
                            remote: true,
                            class: 'icon icon-del',
                            data: { confirm: l(:text_are_you_sure) } if User.current.allowed_to?(:manage_contacts, @contact.project) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
    
    <% if @issues.any? %>
      <div class="box">
        <h3><%= l(:label_issue_plural) %></h3>
        <%= render partial: 'issues/list_simple', locals: { issues: @issues } %>
      </div>
    <% end %>
  </div>

  <div class="splitcontentright">
    <% if @contact.person? && User.current.allowed_to?(:manage_contacts, @contact.project) %>
      <div class="box">
        <h3><%= l(:label_add_company_role) %></h3>
        <%= form_for ContactRole.new, remote: true do |f| %>
          <div class="box tabular">
            <p>
              <%= f.hidden_field :contact_id, value: @contact.id %>
              <%= f.select :company_id,
                          Contact.companies.active.order(:name).map { |c| [c.name, c.id] },
                          include_blank: true,
                          required: true %>
            </p>
            <p>
              <%= f.text_field :position, required: true, size: 30 %>
            </p>
            <p>
              <%= f.select :status,
                          ContactRole.statuses.map { |k, v| [l("label_#{k}"), v] },
                          required: true %>
            </p>
            <%= submit_tag l(:button_add) %>
          </div>
        <% end %>
      </div>
    <% end %>
    
    <% if @groups.any? %>
      <div class="box">
        <h3><%= l(:label_group_plural) %></h3>
        <ul>
          <% @groups.each do |group| %>
            <li>
              <%= link_to group.name, contact_group_path(group) %>
              <% if group.description.present? %>
                <div class="description"><%= truncate(group.description, length: 100) %></div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<% html_title @contact.name %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'contacts', plugin: 'foton_contacts' %>
  <%= javascript_include_tag 'contacts', plugin: 'foton_contacts' %>
<% end %>