<%= turbo_frame_tag "contact_career_history" do %>
  <h3><%= l(:label_employment_new) %></h3>
  <%= render partial: 'contact_employments/form', locals: { contact: @contact, employment: @employment } %>

  <hr class="splitcontent" />

  <h3><%= l(:label_contact_employments) %></h3>
  <% if @contact_employments.any? %>
    <table class="list">
      <thead>
        <tr>
          <th><%= l(:field_company) %></th>
          <th><%= l(:field_role) %></th>
          <th><%= l(:field_start_date) %></th>
          <th><%= l(:field_end_date) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="contact_employments">
        <%= render partial: 'contact_employments/employment', collection: @contact_employments, as: :employment %>
      </tbody>
    </table>
  <% else %>
    <p class="nodata"><%= l(:label_no_employments_found) %></p>
  <% end %>
<% end %>