<%# Principal Details %>
<div class="box">
  <p><strong><%= l(:field_type) %>:</strong> <%= l("label_#{@contact.contact_type}") %></p>
  <p><strong><%= l(:field_status) %>:</strong> <%= l("label_#{@contact.status}") %></p>
  <p><strong><%= l(:field_email) %>:</strong> <%= @contact.email %></p>
  <p><strong><%= l(:field_phone) %>:</strong> <%= @contact.phone %></p>
  <p><strong><%= l(:field_address) %>:</strong> <%= simple_format(@contact.address) %></p>
  <p><strong><%= l(:field_description) %>:</strong> <%= simple_format(@contact.description) %></p>
  <hr/>
  <p><strong><%= l(:field_author) %>:</strong> <%= link_to_user @contact.author %></p>
  <% if @contact.user.present? %>
    <p><strong><%= l(:field_user) %>:</strong> <%= link_to_user @contact.user %></p>
  <% end %>
  <p><strong><%= l(:field_created_on) %>:</strong> <%= format_time(@contact.created_at) %></p>
  <p><strong><%= l(:field_is_private) %>:</strong> <%= @contact.is_private? ? l(:general_text_yes) : l(:general_text_no) %></p>
  <% if @contact.project %>
    <p><strong><%= l(:field_project) %>:</strong> <%= link_to_project @contact.project %></p>
  <% end %>
</div>

<%# Custom Fields %>
<% if @custom_values.any? %>
  <div class="box">
    <h3><%= l(:label_custom_fields) %></h3>
    <%= render_custom_fields_rows(@contact) %>
  </div>
<% end %>