<%# Aba: Vínculos com Empresas %>
<div id="tab-content-companies" class="tab-content" style="display:none;">
  <% if @contact.person? %>
    <h3><%= l(:label_active_employments) %></h3>
    <% active_employments = @contact.employments_as_person.active %>
    <% if active_employments.any? %>
      <ul class="contact-employments-list">
        <% active_employments.each do |emp| %>
          <li>
            <strong><%= link_to emp.company.name, contact_path(emp.company) %></strong>
            <% if emp.position.present? %>
              - <%= emp.position %>
            <% end %>
            <% if emp.start_date %>
              (<%= l(:field_start_date) %>: <%= format_date(emp.start_date) %>)
            <% end %>
            <%= link_to l(:button_edit), 
                        edit_contact_path(@contact, anchor: 'tab-companies'), 
                        class: 'icon icon-edit' %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="nodata"><%= l(:label_no_active_employments) %></p>
    <% end %>

    <h3><%= l(:label_past_employments) %></h3>
    <% past_employments = @contact.employments_as_person.inactive %>
    <% if past_employments.any? %>
      <ul class="contact-employments-list">
        <% past_employments.each do |emp| %>
          <li>
            <strong><%= link_to emp.company.name, contact_path(emp.company) %></strong>
            <% if emp.position.present? %>
              - <%= emp.position %>
            <% end %>
            (<%= l(:field_start_date) %>: <%= format_date(emp.start_date) %>
            <% if emp.end_date %>
              | <%= l(:field_end_date) %>: <%= format_date(emp.end_date) %>
            <% end %>)
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="nodata"><%= l(:label_no_past_employments) %></p>
    <% end %>

  <% elsif @contact.company? %>
    <h3><%= l(:label_employees) %></h3>
    <% employees = @contact.employees.active %>
    <% if employees.any? %>
      <ul class="contact-employees-list">
        <% employees.each do |person| %>
          <li>
            <%= link_to person.name, contact_path(person) %>
            <% employment = @contact.employments_as_company.find_by(contact: person) %>
            <% if employment&.position.present? %>
              - <%= employment.position %>
            <% end %>
            (<%= l(:field_start_date) %>: <%= format_date(employment.start_date) %>)
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="nodata"><%= l(:label_no_employees) %></p>
    <% end %>
  <% end %>
</div>