<%# app/views/contacts/tabs/_files.html.erb %>
<div class="box">
  <h3><%= l(:label_attachment_plural) %></h3>
  <%= render partial: 'attachments/list', locals: { attachments: @contact.attachments } %>
</div>

<% if @contact.attachments_addable? %>
  <div class="box">
    <h3><%= l(:label_attachment_new) %></h3>
    <%= form_tag({ controller: 'attachments', action: 'upload', container_type: 'Contact', container_id: @contact.id }, multipart: true, remote: true, id: "add_attachment_form") do %>
      <div class="box tabular">
        <p>
          <%= render partial: 'attachments/form' %>
        </p>
        <%= submit_tag l(:button_add) %>
      </div>
    <% end %>
  </div>
<% end %>