<%# app/views/contacts/tabs/_groups.html.erb %>
<div class="box">
  <h3><%= l(:label_group_plural) %></h3>
  <ul class="list">
    <% @groups.each do |group| %>
      <li>
        <%= link_to group.name, contact_group_path(group) %>
        <span class="count">(<%= group.contacts.count %> <%= l(:field_contact).pluralize(group.contacts.count) %>)</span>
      </li>
    <% end %>
  </ul>
</div>

<% if User.current.allowed_to?(:manage_contact_groups, @contact.project) %>
  <div class="box">
    <h3><%= l(:label_add_to_group) %></h3>
    <%= form_for ContactGroupMembership.new, remote: true do |f| %>
      <div class="box tabular">
        <p>
          <%= f.hidden_field :contact_id, value: @contact.id %>
          <%= f.select :contact_group_id,
                    ContactGroup.where(project_id: @contact.project_id).map { |g| [g.name, g.id] },
                    { include_blank: true },
                    required: true %>
        </p>
        <%= submit_tag l(:button_add) %>
      </div>
    <% end %>
  </div>
<% end %>