<%# app/views/contacts/tabs/_history.html.erb %>
<div class="box">
  <h3><%= l(:label_history) %></h3>
  <% @journals = @contact.journals.includes(:user).reorder('created_on DESC') %>
  
  <div id="history">
    <% @journals.each do |journal| %>
      <div class="journal">
        <h4>
          <%= link_to_user(journal.user) %>
          <%= l(:text_journal_changed, :id => "##{journal.id}") %>
          <%= format_time(journal.created_on) %>
        </h4>
        
        <ul class="details">
          <% journal.details.each do |detail| %>
            <li><%= show_detail(detail) %></li>
          <% end %>
        </ul>

        <% if journal.notes? %>
          <div class="wiki">
            <%= textilizable(journal.notes) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if User.current.allowed_to?(:add_contact_notes, @contact.project) %>
    <div class="box">
      <h3><%= l(:label_add_note) %></h3>
      <%= form_tag contact_journals_path(@contact), remote: true do %>
        <div class="box tabular">
          <p>
            <%= text_area_tag 'journal[notes]', '', rows: 5, class: 'wiki-edit' %>
          </p>
          <%= submit_tag l(:button_add) %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>